<div class="jumbotron text-center">  
	<h1>Buscar anuncios</h1>
	<!-- Lista de Busqueda -->
	<div class="radio" ng-repeat="busqueda in busquedas">  
    	<label>
        	<input type="radio" ng-click="localizarBusqueda(busqueda.geometry.location)"> {{ busqueda.formatted_address }}
    	</label>
	</div>  
	<!-- Formulario para insertar nuevos Anuncios -->  
	<form class="form-inline">  
	    <div class="form-group">
	        <input 
	        	type="text" 
	        	class="form-control text-xs-center" 
	        	placeholder="Ingresa una direccion" 
	        	ng-model="formData.search">
	    </div>
	    <button 
	    	class="btn btn-primary-outline" 
	    	ng-click="buscarAnuncio(formData.search)">
	        Añadir
	    </button>
	</form>  
</div>  